.navbar {
  background-color: #9e8888; 
  color: #ffffff; 
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  background-color: white;
  cursor: pointer;
}

.navbar a:hover {
  background-color: #9e8888;
  color: white;
}